#**Medical Insurance Cost**

#**Import Library**

In [1]:
import pandas as pd

#**Memuat Database**

In [3]:
file = "/content/drive/MyDrive/AVD/insurance (1).csv"
df = pd.read_csv(file)
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

#**Business Understanding**

##**Business Objective**

Dataset Medical Insurance Cost

Analisis pada dataset Medical Insurance Cost ini bertujuan untuk membantu perusahaan asuransi memahami faktor-faktor yang mempengaruhi besarnya biaya asuransi. Dataset yang digunakan berisi data seperti usia, jenis kelamin, BMI, jumlah anak, kebiasaan merokok, dan wilayah tempat tinggal.

Dengan melakukan analisis ini, perusahaan diharapkan medapat insight mengenai variabel mana yang memberikan pengaruh signifikan terhadap peningkatan biaya. Hasil analisis ini dapat digunakan untuk memdukung pengambilan keputusan dalam penetapan premi yang lebih akurat dan berbasis resiko.

#**Asses Situation**

Situasi bisnis yang mendasari analisis ini adalah meningkatnya biaya layanan kesehatan yang berdampak langsung terhadap besarnya klaim asuransi. Perusahaan asuransi perlu memastikan bahwa premi yang ditetapkan sesuai dengan tingkat resiko masing-masing pelanggan. Jika premi terlalu rendah, perusahaan bisa mengalami kerugian. Jika terlalu tinggi, pelanggan bisa merasa dirugikan.

Dalam industri asuransi kesehatan, setiap pelanggan memiliki tingkat risiko yang berebeda-beda. Risiko ini bisa dipengaruhi oleh usia, BMI, jumlah tanggungan anak, serta kebiasaan merokok. Tanpa analisis data yang tepat perusahaan akan sulit menentukan premi yang sesuai dengan tingkat risiko masing-masing pelanggan.

#**Project Plan & Objective**

Dalam dataset ini akan dilakukan:


*   Mengidentifikasi faktor-faktor yang mempengaruhi biaya asuransi kesehatan
*   Menganalisis hubungan antara usia, BMI, dan kebiasaan merokok terhadap biaya asuransi
* Membuat visualisasi untuk memahami pola data
* Memberikan rekomendasi berdasarkan analisis data